*{
    margin: 0;
    padding: 0;
}
.mainbox{
    height: 100vh;
    width: 100vw;
    overflow-x:  hidden;
}
#box1{
 height: 360px;
 width: 100vw;
background-color: rgb(199, 237, 142);

}
.cont{
    font-size: 10px;
}
h1{
    text-align: center;
}
#first{
    /* font size of this become 3*(container font size)=3*10=30px */
    font-size: 3em;
    /* padding of this become 2*(font sixe of ement)=2*30=60px */
    padding: 2em;
    border: 2px solid blue;
    
}
#box2{
    height:  360px;
    width: 100vw;
   background-color:burlywood;
   
   }
   #box3{
    height:  360px;
    width: 100vw;
   background-color:rgb(205, 201, 201);

   }
   #box4{
    height:  360px;
    width: 100vw;
   background-color: rgb(243, 196, 203);
   
   }
   html{
       font-size: 12px;
   }
   #firstbox2{
       /*  font size of this become 3*(html font size)=3*12=36px */
    font-size: 3rem;
    /* padding of this become 2*(html font size)=2*12=24px */
    padding: 2rem;
    border: 2px solid green;
   }
   #cbox3{
       height: 50vh;
       width: 500px;
       border: 2px solid red;
       margin: auto;
       text-align: center;
       font-size: 20px;
       padding: 1px;
    }
    .cbox4{
        height: 200px;
        width: 50vw;
        font-size: 20px;
        border: 2px solid brown;
        text-align: center;
        margin-right: 30px;
     }